.how-it-works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.how-it-works > h1{
    color: #00002d;
    margin-bottom: 50px;
}

.steps-section{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#steps-section-img{
    border-radius: 20px;
    box-shadow: 0 2px 6px 0 rgba(173,175,244, 0.3), 0 3px 7px 0 rgba(173,175,244, 0.3);
    margin-right: -12rem;
}

#text-block-section{
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    position: relative;
    left: 17rem;
}

.section1{
    display: flex;
    gap: 3rem;
}

.section1 P{
    width: 50%;
    color: #00002d;
}

.section1 h4{
    color: #00002d;
}

#section1-button button{
    background-color: #000080;
    border: none;
    padding: 13px 25px;
    color: white;
    border-radius: 30px;
    font-size: 19px;
    transition: 0.3s;
}

#section1-button button:hover{
    background-color: #000099;
    color: whitesmoke;
    cursor: pointer;
}

@media(width <= 768px){
    .steps-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: -12rem;
    }

    .woman-holding-phone > img{
        width: 300px;
        height: 400px;
        margin-bottom: 30px;
    }

    #text-block-section{
        display: flex;
        flex-direction: column;
        gap: 3rem; 
        position: relative;
        right: 2rem;
        margin-left: -20px;
    }
    
    .section2{
        display: flex;
        gap: 3rem;
    }
    
    .section2 P{
        width: 30%;
        color: #00002d;
    }
    
    .section2 h4{
        color: #00002d;
    }

    .section3{
        display: flex;
        gap: 3rem;
    }
    
    .section3 P{
        width: 30%;
        color: #00002d;
    }
    
    .section3 h4{
        color: #00002d;
    }
}