#key-metrics{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.key-metrics-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.key-metrics-item h2{
    color: #000080;
    text-align: center;
}

.key-metrics-item svg{
    align-self: center;
}

.key-metrics-item p{
    color: #000080;
    text-align: center;
}

.line{
    height: 100px;
    width: 2px;
    background-color: #000080;
    border-radius: 5px;
}