#tourist-attraction-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
    width: 100%;
}

#tourist-attraction-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
}

#tourist-attraction-heading h1{
    color: #00002d;
}

#tourist-attraction-heading h4 {
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    color: #00002d;
    transition: 0.3s;
}

#tourist-attraction-heading h4:hover {
    color: #010188;
}

#tourist-attraction-section-card-container{
    width: 90%;
    display: flex;
    gap: 5rem;
}

.tourist-section-card{
    width: 25%;
    position: relative;
}

.tourist-section-card img{
    border-radius: 20px;
    width: 300px;
    height: 270px;
}

.tourist-section-card-text-section{
    padding-top: 1rem;
}

.tourist-section-card-text-section h2{
    color: #00002d;
    padding-bottom: .5rem;
}

.tourists-section-card-text-section p{
    color: #00002d;
}

.tourist-location-info{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tourist-location-info p svg{
    margin-right: .5rem;
    margin-bottom: -.2rem;
}

.bold{
    font-weight: 500;
    color: #00002d;
    margin-bottom: .5rem;
}