#art{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;
    width: 100%;
}

#art-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
}

#art-heading h1{
    color: #00002d;
}

#art-heading h4 {
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    color: #00002d;
    transition: 0.3s;
}

#art-heading h4:hover {
    color: #010188;
}


#art-section-card-container{
    width: 90%;
    display: flex;
    gap: 5rem;
}

.art-section-card{
    width: 25%;
    position: relative;
}

.art-section-card img{
    border-radius: 20px;
    width: 300px;
    height: 270px;
}

.art-section-card-text-section{
    padding-top: 1rem;
}

.art-section-card-text-section h2{
    color: #00002d;
    padding-bottom: .5rem;
}

.art-section-card-text-section p{
    color: #00002d;
}

.art-location-info{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.art-location-info p svg{
    margin-right: .5rem;
    margin-bottom: -.2rem;
}

@media(width<=768px){
    #art-section-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 80%;
    }

    .art-section-card-text-section{
        padding-top: 1rem;
        width: 70%;
    }

    .art-section-card{
        width: 100%;
        position: relative;
    }
    
}