@media (min-width: 1200px) {
    .container {
        gap: 15em; 
        padding: 5% 8%;
    }
    .mission, .stot {
        flex-direction: row-reverse; 
        gap: 8em; 
    }
    input[type="email"] {
        width: 50%;
    }
    button.btn {
        width: 8%;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        flex-direction: column;
        gap: 5em; 
        padding: 4% 6%;
    }
    .mission, .stot {
        flex-direction: column;
        align-items: center; 
    }
    .tour {
        width: 80%;
    }
    input[type="email"] {
        width: 60%;
    }
    button.btn {
        width: 15%; 
    }
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 200px; 
    }
    .container {
        flex-direction: column;
        gap: 2em; 
        padding: 3% 4%;
    }
    .mission, .stot {
        flex-direction: column;
        align-items: center;
        gap: 3em; 
    }
    .tour {
        width: 90%;
    }
    input[type="email"] {
        width: 80%; 
    }
    button.btn {
        width: 20%;
    }
    #text {
        width: 80%;
    }
    .fa-user {
        font-size: large; 
        width: 40px;
        height: 40px;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        min-height: 400px;
        padding: 15px;
    }
    .logo-2 {
        max-width: 120px; 
    }
    h1.stay {
        font-size: 1.5rem; 
    }
    p.stay {
        font-size: 0.9rem; 
    }
    #text a.text {
        font-size: 0.8rem; 
    }
}


@media (max-width: 767px) {
    .header {
        min-height: 300px;
        padding: 2x;
    }
    .container {
        flex-direction: column;
        gap: 2em; 
        padding: 3% 4%;
    }
    .logo-2 {
        max-width: 100px; 
    }
    .nast {
        flex-direction: column; 
    }
    h1.stay {
        font-size: 1.2rem;
    }
    p.stay {
        font-size: 0.8rem;
    }
    #btn-1, #btn-2 {
        width: 80px; 
        height: 35px;
        font-size: 0.8rem;
    }
    #text {
        gap: 0.3em; 
    }
    #text a.text {
        font-size: 0.7rem;
    }
}
@media (max-width: 767px) {
    .header {
        padding-bottom: 200px; 
    }
    .container {
        flex-direction: column;
        gap: 2em; 
        padding: 3% 4%;
    }
    .mission, .stot {
        flex-direction: column;
        align-items: center;
        gap: 3em; 
    }
    .tour {
        width: 90%;
    }
    input[type="email"] {
        width: 80%; 
    }
    button.btn {
        width: 20%;
    }
    #text {
        width: 80%;
    }
    .fa-user {
        font-size: large; 
        width: 40px;
        height: 40px;
    }
}